[Unit]
Description=VPN Service to location - %I
After=network.target

[Service]
Type=forking
User=root
ExecStart=/etc/openvpn/pia/vpn.sh up %I
ExecStop=/etc/openvpn/pia/vpn.sh down %I

[Install]
WantedBy=multi-user.target

